* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.08);
  padding: 22px;
  border-radius: 22px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}
#display {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  border: none;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.4);
  color: #00ffcc;
  font-size: 26px;
  padding: 10px;
  text-align: right;
  box-shadow: inset 0 0 10px rgba(0, 255, 204, 0.4);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 12px;
}
.btn {
  height: 60px;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  transition: all 0.25s ease;
}
.btn:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.25);
}
.btn:active {
  transform: scale(0.92);
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.4);
}
.gray {
  background: rgba(255, 255, 255, 0.25);
}
.operator {
  background: #ff9f1c;
  color: #000;
}
.operator:hover {
  background: #ffb347;
}
.equal {
  grid-column: span 2;
  background: #00ffcc;
  color: #000;
  font-weight: bold;
}
.equal:hover {
  background: #00e6b8;
}
.zero {
  grid-column: span 2;
}
